{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src = "{% static 'js/ajax-jquer.js' %}"></script>
    <script src="https://kit.fontawesome.com/bfb096346d.js" crossorigin="anonymous"></script>
    <title>Search Book</title>
</head>
<body class="bg-secondary">
    <h1 class=" mt-2 mb-2 text-center">Search Books</h1>
    
    <div class="d-flex justify-content-center">
      <div class="input-group mb-3 ml-1 " style="width: 50vw;">
          <input id = "searchBar" type="text" class="form-control">
          <div class="input-group-append">
            <button id = "submit" class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>
      </div>
    </div>

      
    <table id = "result" class=" table table-sm table-bordered table-striped table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Authors</th>
                <th scope="col">More Info</th>
              </tr>
            </thead>
            <tbody id = content>
            </tbody>
    </table>


</body>
</html>