{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/jquer.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "{% static 'js/app_jquer.js' %}"></script>
    <script src="https://kit.fontawesome.com/bfb096346d.js" crossorigin="anonymous"></script>
    <title>Story 7</title>
</head>
<body class="d-flex flex-column ">
    <div class="pt-1 mr-0 d-flex flex-row-reverse">
        <p class= "mt-auto mb-auto ml-2 mr-1">Change Theme</p>
        <label class="switch mt-auto mb-auto ">
            <input id = "theme" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <h1 class="text-center mt-4">Halo, Namaku Rafif</h1>
    <div class = "accordion d-flex flex-column mt-4">
        <h3><span class="ml-2"><i class="fa fa-angle-right mr-1"></i></span>Aktivitas </h3>
        <div class="mb-1"> 
            <ul>
                <li>Menonton Youtube Genre "Edukasi"</li>
                <li>Flag Football (Sudah Jarang)</li>
                <li>Mantengin Promo Go-Food & Grab</li>
                <li>Membaca Komik Jepun</li>
                <li>Menonton Kartun Jepun</li>
            </ul>
        </div>
        <h3><span class="ml-2"><i class="fa fa-angle-right mr-1"></i></span>Organisasi/Kepanitiaan</h3>
        <div class="mb-1"> 
            <ul>
                <li>Anggota Klub Fisika SMA</li>
                <li>Anggota Paguyuban Sumatera Selatan  UI (KEMAS UI)</li>
                <li>Member Klub Flag Football UI</li>
            </ul>
        </div >
        <h3><span class="ml-2"><i class="fa fa-angle-right mr-1"></i></span>Prestasi</h3>
        <div class="mb-1"> 
            <ul>
                <li>Juara 10 OSK Fisika 2016</li>
                <li>Mengikuti OSN Fisika 2017</li>
            </ul>
        </div>
    </div>

    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>