{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <h1 class = "text-center" >Login</h1>
    <div class = "justify-content-center d-flex flex-row">
        <form action="{% url 'app_login:login' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class = "text-center">
            <button id = "but-log" type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class = "text-right mt-2">
            <a id = "link-sign" href = "{% url 'app_login:signup' %}">Sign Up>>></a>
        </div>
        </form> 
    </div>
</body>
</html>