.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

/* For Container*/

#container{
    min-height: 100vh;

}
body {
    background-color: #faf9f9;
    transition: .4s all ease;
    color: #000000;
}

body.dark {
    background-color: #000000;
    transition: .4s all ease;
    color: #faf9f9;
}

.accordion > h3{
    border-radius: 25px;
    background: #add2c9;
    transition: .2s all ease;    
}
.accordion > div{
    border-radius: 25px;
    background: #5ea3a3;
    transition: 1ms all ease; 
}

.darkacch3 > h3{
    background: #929aab;
    transition: .2s all ease;

}
.darkaccdiv > div{
    background: #474a56;
    transition: 1ms all ease;
}

h3 > span > i{
    transition: .2s all ease;
}
.showed > span > i {
    transform: rotate(90deg);
    transition: .2s all ease;
}




