<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Halo, apa kabar?</h1>
    </div>
    <div style="display: flex;">
        <div>
            <form method="POST">
                {% csrf_token %}
                <p>Status :</p>
                {{form.isi_status}}
                <div>
                    <input id = "submit" type="submit" value="Submit">
                </div>  
            </form>
        </div>
        {% if statuses.count > 0  %}
         <div style="margin-left:100px; ">
            <h3>Status</h3>
            <div style="height: 150px; width: 300px; overflow: auto;">
                {% for status  in statuses reversed %}
                <div>
                    <p>{{status.tanggal}}</p>
                    <p>{{status.isi_status}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
       
    </div>
    
    
    
</body>
</html>